.text {
    margin-top: 2em;
    font-size: 1.1em;
    text-align: left;
}

.warning {
    background-color: white;
    border-radius: 15px;
    border: 2px solid #0062ff;
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
    width: 80vw;
    align-items: center;
}

.warning img {
    position: absolute;
    top: 0.8em;
    right: 0.8em;
    width: 1.5em;
}

.btn {
    display: flex;
    gap: 1em;
}

.btn button {
    padding: 0.5em 1em;
    font-size: 0.8em;
}
