.container h1 {
    font-size: 2em;
    margin: 0 0 1em 0;
    padding: 0;
}

.section {
    padding: 2em 4em 0 4em;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.3em;
    border-radius: 20px;
}

.containerInput {
    position: relative;
}

.containerInput img {
    position: absolute;
    top: 1em;
    left: 1em;
    width: 2em;
}

.input {
    border-radius: 5px;
    font-size: 1em;
    letter-spacing: 1px;
    padding: 20px 20px 20px 55px;
    font-style: italic;
}

.input:focus-visible {
    border: none;
    outline: #0062ff solid 3px;
}

.error {
    color: red;
    text-align: left;
    font-size: 0.6em;
    position: absolute;
    bottom:-1.5em;
    left: 0;
    white-space: nowrap;
}

.form button {
    margin: 0.4em 0;
    font-size: 1.1em;
}

.link {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid;
}


